</section>

<!-- Footer -->
<!-- Footer -->

<footer id="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-center">
                <li class="list-inline"></li>
                <div class="scroll-to-top">
                    <a href="#intro">
                        <i class="fas fa-rocket fa-3x rocket" data-fa-transform="rotate--45"></i>
                    </a>
                    <p class="rocket-fire">Ready to fire! Up! Up!</p>
                </div>
                <div class="copy-right">
                    <p class="copy-right">© Copyright 2020 Pan Yeung</p>
                </div>
            </div>
        </div>
    </div>


</footer>
</body>

</html>