<%- include("partials/header") %>

<section id="landing-intro">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 text-center about">
                <div class="intro-title">
                    <h1>Visual Organization for<br> personal book mark</h1>
                </div>
                <p class="intro-description">
                    Collection Of Links is the smart way for individuals<br> to collect, organize
                    for your personal book mark.
                </p>
                <div class="button-section">
                    <a class="button button-left" href="/register">Sign up for free</a>
                    <a class="button button-right" href="/login">Login</a>
                </div>
            </div>
        </div>
    </div>

</section>
<%- include("partials/footer");%>